@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-body {
  display: grid;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(250px * 20);
  animation: scroll 20s linear infinite;
}
.slide-track2 {
  display: flex;
  width: calc(250px * 20);
  animation: scroll1 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(calc(-250px * 4.7));
  }
}
@keyframes scroll1 {
  0% {
    transform: translateX(calc(-250px * 4.7));
  }
  40% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 4.7));
  }
}

.slide {
  display: flex;
  align-items: center;
}

.bg {
  background: rgb(16, 16, 26);
  background: linear-gradient(
    0deg,
    rgb(21, 21, 33) 0%,
    rgba(32, 32, 51, 1) 56%,
    rgb(60, 60, 76) 100%
  );
}

.project_title,
#products {
  background: linear-gradient(90deg, #6fc1f7, #ce5be7, #b07aec, #6fc1f7);
  background-size: 800%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 10s ease infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.projects,
#work {
  background: linear-gradient(90deg, #b3f1f0, #fecfdf);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight: 900;
  letter-spacing: 0.01em;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
